
html, body {
    background-color: #fff;

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
body{
    color: #333;
}
.my-list-group{
    margin: 20px 0px;
    color: #333;
    font-weight: bold;
}
.my-list-group h1{
    font-size: 24px;
    position: relative;
}
.my-list-group h1 span:first-of-type{
    position:absolute;
    right: 200px;
    font-size: 18px;
    border-right: 1px solid #ddd;
    padding-right: 10px;
}
.my-list-group h1 span:last-of-type{
    position:absolute;
    right: 80px;
    font-size: 18px;
}
.my-list-group:hover{
    background-color: #dddddd;

}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
h1{
    margin-top: 20px;
}
.my-list-group i{
    font-size:15px;
    float:right;
}
.hidden{
    display: none;
}